input,
select {
    padding: 7px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--Grey-200, #e3e6eb);
    outline: none;
}

input[disabled],
select[disabled] {
    background-color: #f7f7f7;
    color: black;
}

.chkPrioridade {
    display: inline;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 2px;
    margin-top: 2px;

    border: 1px solid #cdcdcd;
    appearance: none;
}

.urgente:checked {
    background-color: #ff0000;
}

.medio:checked {
    background-color: #ffff00;
}

.baixo:checked {
    background-color: #00ff00;
}

.grupoInput {
    display: flex;
}

.grupoInput span {
    font-size: 16px;
}

.grupo1 {
    max-width: 10rem;
}

.grupo2 {
    max-width: 15rem;
    margin-left: 3rem;
}

.grupo3 {
    margin-left: 4rem;
    max-width: 10rem;
}

.grupoCategoria select {
    width: 10rem;
}

.grupo7 {
    margin-right: 20px;
}

.grupoMotivo select {
    width: 10rem;
}

#inpNumero {
    max-width: 6rem;
    height: 20px;
    width: 100%;
}

.radioPrioridade {
    width: 13rem;
}

.camposItens {
    font-size: 15px;
}

.grupoProduto {
    width: 30%;
    margin-right: 5px;
}

.grupoProduto input {
    width: 100%;
}

.grupoProdutoDescricao {
    margin-right: 5px;
    width: 50%;
}

.grupoProdutoDescricao input {
    width: 100%;
}

.grupoEstoque {
    width: 15%;
    margin-right: 5px;
}

.grupoEstoque input {
    width: 2rem;
    width: 100%;
}

.grupoSaida {
    width: 10%;
    margin-right: 5px;
}

.grupoSaida input {
    width: 5rem;
    width: 100%;
}

.grupoBtnInserirItens {
    width: 15%;
}

.grupo9 {
    margin-left: 3rem;
}

.BtnInserirItens {
    display: none;
    background-color: #2940d3;
    width: 100%;

    height: 30px;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
}

.BtnInserirItens button {
    color: #ffffff;
    background: transparent;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
}

.camposBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.grupoBtn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.grupoBtn button {
    display: flex;
    width: 14rem;
    height: 38px;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 1000ms;
    cursor: pointer;
}

.grupoBtn button:hover {
    opacity: 0.5;
}

.button-save {
    border-radius: 4px;
    background: #2940d3;
    color: #fff;
    border: none;
}

.button-cancel {
    border-radius: 4px;
    border: 1px solid var(--Grey-200, #bcbdbe);
    color: #82868c;
    background-color: transparent;
}

@media screen and (max-width: 700px) {
    .linhaAdicionarItens {
        gap: 9px;
        flex-wrap: wrap;
    }

    .grupoBtn button {
        width: 40%;
    }

    .linhaAdicionarItens input {
        padding: 5px;
    }

    .grupoBtn button {
        width: 40%;
    }

    .grupo2 {
        margin-left: 0rem;
    }

    .grupo3 {
        margin-left: 0rem;
    }
}